VITE_LUMIFILM_RPC_URL=http://127.0.0.1:7545
VITE_LUMIFILM_CHAIN_ID=1337
VITE_LUMIFILM_NETWORK_NAME=Ganache Local
VITE_LUMIFILM_CONTRACT_ADDRESS=0xYourRemixDeployedContractAddress
VITE_LUMIFILM_ORG_NAME=LumiFilm Protocol
